.container .lt_main .lt_search{
    padding: 10px;
}
.container .lt_main .lt_search input{
    height: 34px;
    border: 1px solid #007AFF;
    border-radius: 5px;
    font-size: 12px;
    margin: 0;
}
.container .lt_main .lt_search button{
    position: absolute;
    top: 10px;
    right: 10px;
}
.container .lt_history {
    padding: 10px;
    color: #8f8f94;
    font-size: 12px;
}
.content {
    padding: 10px;
}
.content li{
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    border: 1px dashed red;
    border-bottom: none; 
} 
.content li:last-child{
    border-bottom: 1px dashed red; 
}