.body_bg {
    background-color: #222D32;
}

.container .panel-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.mt_150 {
    margin-top: 150px;
}

html,
body {
    width: 100%;
    height: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0;
}

.lt_aside {
    width: 180px;
    height: 100%;
    background-color: #222D32;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 1s;
}

/* hiddenç±»  display: none;
   hidden-xs
   hidden-sm
   hidden-md
   hidden-lg
*/
.lt_aside.hideMenu {
    left: -180px;
}

.lt_aside .brand {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    background-color: #367FA9;
}

.lt_aside .brand a {
    color: #fff;
}

.lt_aside .user {
    margin-top: 30px;
    height: 150px;
}

.lt_aside .user img {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.lt_aside .user p {
    color: #fff;
    text-align: center;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
}

.lt_aside .nav ul li i {
    margin-right: 5px;
}

.lt_aside .nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    border-left: 3px solid transparent;
}

.lt_aside .nav a.current {
    background-color: #1D1F21;
    border-left: 3px solid #006699;
}

.lt_aside .nav .child {
    line-height: 40px;
    padding-left: 10px;
    display: none;
}

.lt_aside a {
    color: #fff;
}

.lt_main {
    width: 100%;
    height: 2000px;
    padding-left: 180px;
    padding-top: 50px;
    transition: all 1s;
}

.lt_main.pl {
    padding-left: 0;
}

.lt_main .top {
    width: 100%;
    height: 50px;
    background-color: #3C8DBC;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 180px;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 1s;
}
.lt_main .top.tpl {
    padding-left: 0px;
}
.lt_main .top .top_left {
    background-color: #3C8DBC;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.lt_main .top .top_right {
    background-color: #3C8DBC;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.lt_main ol {
    margin: 20px 0;
}
.content .echarts_1,
.content .echarts_2
{
    width: 48%;
    height: 400px;
    background-color: blue;
}
.red {
    color: #A94442;
}
/* #myModal .modal-body {
    padding: 20px;
} */
.table.table-bordered th,
.table.table-bordered td {
    text-align: center;
    vertical-align: middle;
}